#useravatar {
  display: none;
}
.card {
  display: none;
}
#loadMoreButton {
  display: none;
  background-color: #3498db;
  color: #fff;
  padding: 4px 6px;
  border-radius: 5px;
  font-family: "Tektur", cursive;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(144, 216, 247);
}

.title {
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-family: "Tilt Prism", cursive;
  font-size: 80px;
}

.description {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-family: "Tektur", cursive;
  font-size: 40px;
}

input {
  margin: 5px;
  width: 240px;
  padding: 10px;
  height: 16px;
  background-color: transparent;
  font-family: "Tektur", cursive;
}

button {
  padding-right: 15px;
  padding-left: 15px;
  height: 40px;
  font-family: "Tektur", cursive;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image {
  order: 2;
  margin-left: auto;
}

img {
  height: 90vh;
}

.content {
  order: 1;
  margin-right: auto;
}

.content {
  width: 90%;
  height: 100vh;
}

form {
  margin-top: 101px;
  margin-left: 50px;
}

.card {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#useravatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  float: left;
}

#username {
  margin: 0;
  font-size: 1.5em;
  font-family: "Tektur", cursive;
  font-size: 40px;
  margin-top: 30px;
}

.visitgithub {
  margin: 0;
}

#userlink {
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  padding: 4px 6px;
  border-radius: 5px;
  display: inline-block;
  font-family: "Tektur", cursive;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  list-style: none;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.row p {
  margin: 5px;
}

.row h2 {
  margin-bottom: 10px;
}

.row span.language {
  background-color: #ffcccc;
  padding: 2px;
  border-radius: 5px;
}

/* MAKING THE LOADER */
.loader {
  display: none;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bg-slate-200-backdrop {
  background-color: rgba(49, 58, 75, 0.2);
  backdrop-filter: blur(8px);
}

.loaders {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ERROR HANDLING */
.error-section {
  background-color: #ffcccc;
  color: #8b0000;
  padding: 10px;
  margin-top: 10px 10px;
  border-radius: 5px;
  width: 70%;
}

.error-message {
  margin: 0;
}

ul#userRepos {
  max-height: 400px; 
  overflow-y: auto; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

ul#userRepos::-webkit-scrollbar {
  width: 10px;
}

ul#userRepos::-webkit-scrollbar-thumb {
  background-color: #565656; 
  border-radius: 5px;
}

ul#userRepos::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
